.gradle
*.sw?
.#*
*#
*~
/build
/code
target/
*.class
.classpath
.project
.fConfig
.metadata
bin
build
lib/
dependency-reduced-pom.xml
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
build.log
*.log
logs/
_site/
.*.md.html
manifest.yml
MANIFEST.MF
fConfig.xml
*.iml
*.ipr
*.iws
.idea
*.jar
.DS_Store
dump.rdb
transaction-logs
.surefire
export/
